@import "tailwindcss";
body{
  background-color: white;

}
.parent{
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 800px;
  
}
.Dash_U{
  
  background-color: lightblue;
  color: white;
  width: 800px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 20px ;
}
.left_side{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  gap: 10px;
  column-gap: 10px;
}
.right_side{
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  column-gap: 10px;
  gap: 10px;
  font-size: 16px;
}
h1{
  font-size: 40px;
  font-weight: bold;
}
.same_l{
  display: flex;
  align-items: center;
  gap: 15px;
}